<div id="<%= dom_id banned_user %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Group Id:</strong>
    <%= banned_user.group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Group name:</strong>
    <%= banned_user.group_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sender chat:</strong>
    <%= banned_user.sender_chat_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sender user name:</strong>
    <%= banned_user.sender_user_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Spam message:</strong>
    <%= banned_user.spam_message %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Created at:</strong>
    <%= banned_user.created_at.strftime("%Y-%m-%d %H:%M") %>
  </div>
</div>
