<div id="<%= dom_id trained_message %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Group:</strong>
    <%= trained_message.group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Message:</strong>
    <%= trained_message.message %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Message type:</strong>
    <%= trained_message.message_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sender chat:</strong>
    <%= trained_message.sender_chat_id %>
  </div>
</div>
