<div id="<%= dom_id trained_message %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Group:</strong>
    <%= trained_message.group_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Group name:</strong>
    <%= trained_message.group_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Message:</strong>
    <%= trained_message.message %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Message type:</strong>
    <%= trained_message.message_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Training target:</strong>
    <%= trained_message.training_target %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sender chat id:</strong>
    <%= trained_message.sender_chat_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sender user name:</strong>
    <%= trained_message.sender_user_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Created at:</strong>
    <%= trained_message.created_at.strftime("%Y-%m-%d %H:%M") %>
  </div>
</div>
